@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montez&family=Paprika&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montez&family=Paprika&display=swap");
@import "path/to/font-awesome/less/font-awesome.less";


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #d1c9b1;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.header-cont {
  margin: 300px 80px 0px;
}

 .nav-btn {
  font-family: "Paprika", sans-serif;
} 

.nav-btn1 {
  margin: 0px 0px 0px 230px;
  font-family: "Paprika", sans-serif;
}

.img-cont {
  margin: 80px 0px 0px 10px;
  width: 10%;
}

.explore-btn {
  margin: 120px 840px 0px;
  font-family: "Paprika", sans-serif;
}

.explore-btn > button {
  width: 200px;
}

.container-wrapper {
  margin: 0px 0px 20px;
  font-family: "Paprika", sans-serif;
}

.container-cont {
  margin: 180px 0px 0px;
}

.products {
  /* border: 2px solid #000000; */
  margin-top: 220px;
  height: 50vh;
  /* display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 0px 20px; */
}

.left-container {
  /* border: 2px solid #FFC300; */
  background-color: #f5f2eb;
}

.left-form {
  width: 90%;
  margin: 40px 5px 0px;
}

.prod-head {
  font-family: "Paprika", sans-serif;
  margin-top: 40px;
  /* color: #FFC300; */
}
.right-container {
  border: 2px solid #d1c9b1;
  /* border-top: 2px solid #d1c9b1; */
  /* font-family: "Paprika", sans-serif; */
  color: #dc3545;
  /* margin: 0px 290px 0px 0px; */
}

.right-container > h3 {
  text-decoration: underline;
}

.crust {
  font-family: "Paprika", sans-serif;
  margin-top: 200px;
}

.crust-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 10px;
  padding: 5px;
}

.crust-cont > button {
  border-radius: 50px;
  outline: none;
  border: none;
  height: 40px;
  font-family: "Roboto", sans-serif;
  background-color: #ddd7c3;
  /* width: 100px; */
}

.crust-cont > button:hover {
  background-color: #d1c9b1;
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.product-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .product-img {
  transform: scale(1.2);
}

/* .product-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: var(--mainYellow);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
} 
.img-container:hover .product-item-icon {
  transform: translate(0, 0);
}
.product-item-icon:hover {
  color: var(--mainWhite);
}  */
 .product-item-value {
  color: --mainYellow;
}


.footer-cont {
  background-color: #d1c9b1;
  height: 5vh;
  margin: 250px 0px 0px;
}

footer > p {
  font-weight: 20px;
}