@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montez&family=Paprika&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montez&family=Paprika&display=swap");
@import "path/to/font-awesome/less/font-awesome.less";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #d1c9b1;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.header-cont {
  margin: 300px 80px 0px;
}

.nav-btn {
  font-family: "Paprika", sans-serif;
}

.nav-btn1 {
  margin: 0px 10px 0px 120px;
  font-family: "Paprika", sans-serif;
}

#pizzaPrices {
  margin: 0px 10px 0px 10px;
  font-family: "Paprika", sans-serif;
}

#orderItems{
  position:absolute;
  z-index: 1;
  display: none;
}

.img-cont {
  margin: 80px 0px 0px 10px;
  width: 10%;
}

.explore-btn {
  margin: 120px 840px 0px;
  font-family: "Paprika", sans-serif;
}

.explore-btn > button {
  width: 200px;
}

.container-wrapper {
  margin: 0px 0px 20px;
  font-family: "Paprika", sans-serif;
}

.container-cont {
  margin: 180px 0px 0px;
}

.products {
  margin-top: 220px;
}

.left-container {
  background-color: #f5f2eb;
}

.left-form {
  width: 90%;
  margin: 40px 5px 0px;
}

.prod-head {
  font-family: "Paprika", sans-serif;
  margin-top: 40px;
}
.offcanvas-body {
  font-family: "Roboto", sans-serif;
}
.right-container {
  border: 2px solid #d1c9b1;
  font-family: "Paprika", sans-serif;
  color: #dc3545;
}

.orderBtn {
  background-color: #d1c9b1;
  border: none;
}

.right-container > h3 {
  text-decoration: underline;
}

.crust {
  font-family: "Paprika", sans-serif;
  margin-top: 40px;
}

.crust-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 10px;
  padding: 5px;
}

.crust-cont > button {
  border-radius: 50px;
  outline: none;
  border: none;
  height: 40px;
  font-family: "Roboto", sans-serif;
  background-color: #ddd7c3;
}

.crust-cont > button:hover {
  background-color: #d1c9b1;
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.selectedPizzaImage {
  height: 150px;
  overflow: hidden;
}

.product-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .product-img {
  transform: scale(1.2);
}

#footer-wrapper {
  margin: 300px 0px 0px;
  width: 100%;

}
.footer-cont {
  background-color: #d1c9b1;
  height: 5vh;
}

footer > p {
  font-weight: 20px;
}

@media screen and (max-width: 1366px) {
  .header-wrapper {
    grid-template-columns: 120px 1fr;
  }

  .header-cont {
    margin: 320px 0px 10px;
  }

  .img-cont {
    margin: 40px 0px 0px 0px;
    width: 10px;
  }

  .explore-btn {
    margin: 30px 650px 0px;
  }
  .container-wrapper {
    margin: 0px 0px 20px;
    font-family: "Paprika", sans-serif;
  }

  .container-cont {
    margin: 10px 0px 0px;
  }

  #footer-wrapper {
    margin: 100px 0px 0px;
  }

  footer > p {
    font-weight: 20px;
  }
  .footer-cont {
    height: 8vh;
  }
}